@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background: #4A5759;
    margin: 0;
}
header { /*container for navbar*/
    background: #576465;
    padding: 2rem;
    border-radius: 5px;
    margin: 0 .5rem;
}
#name1, #and, #name2 {
    font-family: "Oooh Baby", cursive;
    font-size: 4rem;
    display: block;
    margin-bottom: -3rem;
    text-align: center;
}
.name1 {
    color: #EDAFB8;
    font-size: 4rem;
    font-style: italic;
    font-family: "Oooh Baby", cursive;
}
.and {
    color: #F7E1D7;
    font-size: 2rem;

}
.name2 {
    color: #B0C4B1;
    font-size: 4rem;
    font-style: italic;
    margin-bottom: .5rem;
    font-family: "Oooh Baby", cursive;
}
h1, h2, h3, h4, p {
    font-family: "Spectral", serif;
    color: #4a5759;
    margin: .5rem;
}
h1 {
    color: #EDAFB8;
    font-size: 2.5rem;
}
h2 {
    color: #B0C4B1;
    font-size: 2rem;
}
h3 {
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
}
h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.25rem;
}
a {
    color: #ffffff;
    text-decoration: underline dotted;
    transition: .5s;
}
a:hover, a:focus {
    color: #EDAFB8;
}
button {
    font-family: "Spectral", serif;
    color: #4a5759;
    background: #EDAFB8;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    margin: .5rem;
    transition: .5s;
}
button:hover, button:focus {
    background: #F7E1D7;
}
.container { /*primary content container*/
    background: #;
    box-shadow: #4a5759 0 0 3px;
    padding: 1rem;
    text-align: center;
}
.container > p {
    color: #F7E1D7;
}

.map-pic{ 
    max-width: 90%;
    border-radius: 10%;
}

.venue-travel{
    margin-bottom: 30px;
}

.venue-pic{
    max-width: 90%;
    border-radius: 10%;
}

.travel-text { 
color:#F7E1D7;
margin-bottom: 40px;
}

.travel-header-box { 
    margin-bottom: 50px;
    border-bottom: solid #F7E1D7;
    
}

.accom-text { 
    margin-bottom: 75px;
}

.header-box { 
    margin-bottom: 50px;
    border-bottom: solid #F7E1D7;
    margin-left: 15px;
    margin-right: 15px;
}

.header-box h1{ 
    text-align: center;
    padding-top: 15px;
}



@media screen and (min-width: 768px) {
    .big-travel-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .travel-header-box{
        grid-column: 1/3;
    }

    .venue-travel{
        grid-column: 1/3;
    }

    .map-box-big{ 
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .map-pic{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .venue-pic{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .accom-box { 
        grid-column: 1/3;
    }

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width:100%;
    padding: 15px;  
}

.formcontainer{
    display: flex;
    justify-content: center;
}

form h3{
    color: #B0C4B1;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Oooh Baby", cursive;
}
form p{
    color: #B0C4B1;
    font-weight: bold;
}

script{
    color: aqua;
}
.date {
    font-size: 2rem;
    color: #F7E1D7;
}

.name-box{
    text-align: center;
    padding-bottom: 30px;
}

.banner {
    width: 100%;
    border-radius: 10%;
    padding-bottom: 30px;
    
}

.story-box{ 
    display: grid;
    justify-items: center;
    padding-bottom: 30px;

}

.story-text1{ 
    color: #F7E1D7;
    padding-bottom: 30px;
    line-height: 2;
}

.story-text2{ 
    color: #F7E1D7;
    padding-bottom: 30px;
    line-height: 2;
    max-width: 100%
}

.dancing{
    max-width: 75%;
    border-radius: 10%;
}

.schedule-pic{ 
    max-width: 100%
}

.a-box {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .story-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .our-story { 
        grid-column: 1/2;
        padding-bottom: 30px;
        
    }

    .story-text1{
        grid-column : 1/2;
        max-width: 75%;
    }

    .dancing{
        grid-column: 2/3;
    }
}
