@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background: #fffbf9;
    margin: 0;
}
header { /*container for navbar*/
    background: #4A5759;
    padding: 2rem;
    border-radius: 5px;
    margin: 0 .5rem;
}
#name1, #and, #name2 {
    font-family: "Oooh Baby", cursive;
    font-size: 4rem;
    display: block;
    margin-bottom: -3rem;
    text-align: center;
}
#name1 {
    color: #EDAFB8;
}
#and {
    color: #4a5759;
    font-size: 3rem;
}
#name2 {
    color: #B0C4B1;
    margin-bottom: .5rem;
}
h1, h2, h3, h4, p {
    font-family: "Spectral", serif;
    color: #4a5759;
    margin: .5rem;
}
h1 {
    color: #EDAFB8;
    font-size: 2.5rem;
}
h2 {
    color: #B0C4B1;
    font-size: 2rem;
}
h3 {
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
}
h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.25rem;
}
a {
    color: #B0C4B1;
    text-decoration: underline dotted;
    transition: .5s;
}
a:hover, a:focus {
    color: #EDAFB8;
}
button {
    font-family: "Spectral", serif;
    color: #4a5759;
    background: #EDAFB8;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    margin: .5rem;
    transition: .5s;
}
button:hover, button:focus {
    background: #F7E1D7;
}
.container { /*primary content container*/
    background: #4A5759;
    box-shadow: #4a5759 0 0 3px;
    padding: 1rem;
    text-align: center;
}
.container > p {
    color: #F7E1D7;
}
@media screen and (min-width: 768px) {
    .container { display: grid;
    grid-template-columns: repeat(2, 1fr); }
 }